:root {
    --bg-fundo-destaque: #010102c7;
    --bg-color: #201b2c;
    --bg-btn-login: #00ff88;
    --bg-input: #51486933;
    --color-title: #77ffc0;
    --color-card-title: #00ff88;
    --bg-icone-facebook: #4267B2;
    --bg-icone-github: #F04F33;
    --bg-icone-linkedin: #0275B4;
    --bg-icone-twitter: #36B9FF;
    --bg-icone-insta: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    --bg-icone-youtube: #F20000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 60px 0;
    font-size: 1.2em;
}

h1 { 
    text-align: center;
    color: red;
}

p.team-description {
    text-align: justify;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px
}

main {
    width: 100%;
}

main div.grid-container {
    background-color: var(--bg-input);
    border-radius: 4px;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}

main div.grid-container div.grid-profile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
}

main div.grid-container div.grid-profile img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

main div.grid-container div div.profile-details {
    background-color: #000;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


main div.grid-container div div.profile-details h2 {
    text-align: center;
}

main div.grid-container div div.profile-details h4 {
    text-align: center;
    color: red;
}

main div.grid-container div div.profile-details blockquote  {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    text-align: center;
    gap: 20px;
    padding: 10px;

}

main div.grid-container div div.profile-details blockquote p {
    text-align: right;
}

main div.grid-container div div.profile-details nav {
    display: flex;
    justify-content: center;
    gap: 8px;
    
}

main div.grid-container div.grid-profile nav a {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

main div.grid-container div.grid-profile nav a img {
    width: 20px;
    height: 20px;
}

main div.grid-container div.grid-profile a.fb:hover {
    background-color: var(--bg-icone-facebook);
}

main div.grid-container div.grid-profile nav.profile-links a.li:hover {
    background-color: var(--bg-icone-linkedin);
}

nav.profile-links a.ins:hover {
    background-image: var(--bg-icone-insta);
}

nav.profile-links a.git:hover {
    background-color: var(--bg-icone-github);
}

main div.grid-container div.grid-profile:nth-child(5){
    grid-area: 2 / 3;
}

@media (max-width:900px) {
    main div.grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    main div.grid-container div.grid-profile {
        justify-self: center;
        max-width: 500px;
    }

    main div.grid-container div.grid-profile:nth-child(5){
        grid-area: auto;
    }
}