:root {
    --bg-color: #201b2c;
    --bg-btn-login: #00ff88;
    --bg-input: #514869;
    --color-title: #77ffc0;
    --color-card-title: #00ff88;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    background: #201b2c;
}

html {
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-login { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.left-login > h1 {
    color: var(--color-title);
    font-size: 3rem;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000056;
}

.main-login > div {
    flex: 1;
}

.card-login > h1 {
    color: var(--color-card-title);
    font-weight: 800;
}

.card-login nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-login nav > a {
    color: #00ff88;
    font-weight: 800;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--bg-input);
    color: #f0ffffde;
    font-size: 16pt;
    box-shadow: 0px 10px 40px #000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input ::placeholder {
    color: #f0fFff94;
}

.btn-login {
    padding: 16px 60px;
    margin: 25px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: var(--bg-btn-login);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff5082;
    margin: 40px;
}

.btn-login:hover {
    background-color: #00e479;
}

@media only screen and (max-width: 950px) {
    
    
    .left-login{
        padding: 40px;
    }
    
    .right-login{
        padding: 40px;
    }

    .card-login {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width:800px){
    
    body {
        height: 100%;
    }
    
    .main-login {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-login div {
        flex: 1
    }

    .left-login{
        width: 100%;
    }
    
    .right-login{
        align-self: flex-start;
        width: 100%;
    }

    .left-login-image {
        width: 100%;
    }

    .card-login {
        width: 100%;
        padding: 30px;
    }
}


.faixa {
    width: 100%;
    height: 150px;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 15px;
}


.faixa ul {
	display: flex;
	gap: 20px;
	list-style-type: none;
}

.faixa a {
    color: #00ff88;
}